page-graphs {

    .scroll-content{
        padding:2px, 2px, 2px, 2px !important;
    }

    .card{
        margin:0 !important;
        padding:0 !important;
    }

    .card-content {
        margin:0 !important;
        padding:0 !important;
    }

}
