<!-- Menú -->
<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menú</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Contenido del menú desplegado -->
  <ion-content>

    <ion-list>
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        {{p.title}}
        <!-- <div class="menuAbajo">{{p.title}}</div>
          *ngIf="p.title != 'Contacto' && p.title != 'Salir'">  
              *ngIf="p.title == 'Contacto' || p.title == 'Salir'">   -->
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>